.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
gf
main
main.exe
main.exe~
output/
manifest/output/
temp/
temp.yaml
coverage.*
bin
**/config/config.yaml
logs/
release/
compile-linux.bat
